body{
    background-color: blue;
}
h1{
    color: yellow;
}
p{
    text-decoration: double;
    border-bottom: 10px solid maroon;
}
h3{
    padding-top: 98px;
    padding-left: 100px;
    border: 10ppx solid;
    border-radius: 100peralton ex;

}
img{
    border: 5px solid;
    border-radius: 10px;
}